* {
    margin: 0;
    padding: 0;
  }
  
  body, html {
    margin: 20px;
    height: 100%;
    font-family: 'Times New Roman', serif;
  }

  h1 {
    text-align: center;
    font-size: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }
  
  #container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    float: left;
    width: 100%;
    margin: 40px 0 0 25px;
    border-spacing: 0;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    position: relative;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  div.scroll{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
  }
  tr:hover{
    background-color: lightblue;
  }
  tr:nth-child(even) {
    background-color: lightgrey;
  }
  .previous {
    float: left;
  }
  .next {
    float: right;
  }
  .prev_next {
    display: inline-block;
    background-color: #dddddd;
    font-size: 1rem;
    font-weight: normal;
    color: #000000;
    padding: .5rem;
    margin-left: 1rem;
    text-decoration: none;
}
