* {
    margin: 0 auto;
    padding: 0;
  }
  
  body, html {
    height: 100%;
    font-family: 'Times New Roman', serif;
    text-align: center;
    background-color:  #eef6f2;
  }

  .content {
    margin: 50px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
    padding-top: 40px;
  }

  .header {
    background-image: url('../images/header.jpg');
    padding: 100px 0px;
    width: 100%;
    box-shadow: 5px 5px 5px #7a7a7a;
  }

  .title {
    text-decoration: none;
    color: black;
    font-size: 4rem;
    font-weight: bold;
    padding: 20px;
    background-color: #eef6f2;
    box-shadow: 5px 5px 5px #7a7a7a;
  }

  .title:hover {
    border: 5px solid #79b1b3;
  }

  .view_select {
    width: 40%;
    margin: 50px auto 0px auto;
    font-size: 1.5rem;
    padding: 20px;
    background-color: #eef6f2;
    box-shadow: 5px 5px 5px #7a7a7a;
  }

  .typeTitle {
    padding: 40px;
  }

  .dataImage {
    display: block;
    margin: 0px auto 50px auto;
    width: 50%;
    box-shadow: 5px 5px 5px #7a7a7a;
  }
  
  #container {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    background-color: white;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
    position: relative;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  div.scroll{
    width: 80%;
    margin: 40px auto;
    height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
  }

  tr:nth-child(even) {
    background-color: lightgrey;
  }

  tr:hover{
    background-color: #79b1b3;
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }

  .previous, .next {
    background-color:#79b1b3;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 20px;
    text-decoration: none;
    width: 10%;
    box-shadow: 5px 5px 5px #7a7a7a;
    margin-bottom: 20px;
  }
