<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `state` and arrays of consumption per year => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var state;
        var coal_counts;  // e.g. [1234, 2567, ...]
        var natural_gas_counts;
        var nuclear_counts;
        var petroleum_counts;
        var renewable_counts;
    </script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
    <script src="https://cdn.anychart.com/js/latest/data-adapter.min.js"></script>
    <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
    <script type="application/javascript" src="/scripts/viewselect.js"></script>
</head>
<body onload="Init()">
    
    <a class="title" href="/">US Energy Consumption</a>

    <!--navigation between year, state, and energy type-->
    <div id="view_select">
        <label for="view_type">View by: </label>
        <select id="view_type" onchange="ChangedSearchType()">
            <option value="year">Year</option>
            <option value="state" selected>State</option>
            <option value="energy">Energy Type</option>
        </select>
        <label for="view_value">Select: </label>
        <select id="view_value"></select>
        <button type="button" onclick="SubmitView()">View</button>
    </div>

    <h1>STATE</h1>

    <a href="previousLink" class="previous">Previous State</a>
    <a href="nextLink" class="next">Next State</a>

    <img class="dataImage" src="../images/stateAbbreviation.png" alt="U.S.A. Map"/>
    
    <div id="container"></div>
    
    <div class="scroll">
        <table id=htmlTable>
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Coal</th>
                    <th>Natural Gas</th>
                    <th>Nuclear</th>
                    <th>Petroleum</th>
                    <th>Renewable</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                DATA
            </tbody>
        </table>
    </div>

    <script type="application/javascript">   //build the chart from the table
        anychart.onDocumentLoad(function() {

            var tableData = anychart.data.parseHtmlTable("#htmlTable");
            
            // create chart and set data
            var chart = anychart.area();
            chart.data(tableData);

            // turn on chart animation
            chart.animation(true);

            var crosshair = chart.crosshair();
            crosshair.enabled(true)
            .yStroke(null)
            .xStroke('#fff')
            .zIndex(39);
            crosshair.yLabel().enabled(false);

            // force chart to stack values by Y scale.
            chart.yScale().stackMode('value');

            // set chart title text settings
            chart.title(state);

            // turn on legend
            chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);

            // set titles for axises
            chart.xAxis().title('Years');
            chart.yAxis().title('in billion BTU');

            // interactivity and tooltip settings
            chart.interactivity().hoverMode('by-x');
            chart.tooltip().displayMode('union');

            // set container id for the chart
            chart.container('container');

            // initiate chart drawing
            chart.draw();
        });
    </script>
</body>
</html>
