<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>US Energy Consumption</title>


    <link rel="stylesheet" href="/css/style.css">
    <script type="application/javascript">
        // `year` and total counts for entire US => set these variables equal to appropriate value
        //   * these variables will be defined and accessible from any script loaded after this one
        var year;
        var coal_count;
        var natural_gas_count;
        var nuclear_count;
        var petroleum_count;
        var renewable_count;
    </script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/js/latest/anychart-bundle.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.7.0/js/anychart-pie.min.js"></script>
    <script src="https://cdn.anychart.com/js/latest/data-adapter.min.js"></script>
    <script type="application/javascript" src="/scripts/viewselect.js"></script>
</head>

<body onload="Init()">

    <a class="title" href="/">US Energy Consumption</a>

    <!--navigation between year, state, and energy type-->
    <div id="view_select">
        <label for="view_type">View by: </label>
        <select id="view_type" onchange="ChangedSearchType()">
            <option value="year" selected>Year</option>
            <option value="state">State</option>
            <option value="energy">Energy Type</option>
        </select>
        <label for="view_value">Select: </label>
        <select id="view_value"></select>
        <button type="button" onclick="SubmitView()">View</button>
    </div>

    <h1>YEAR</h1>

    <a class="previous" href="">Previous Year</a> <!-- link to itself if year is 1960 -->
    <a class="next" href="">Next Year</a> <!-- link to itself if year is 2018 -->

    <div id="container"></div>

    <div class="scroll">
        <table id = htmlTable>
            <thead>
                <tr>
                    <th>State</th>
                    <th>Coal</th>
                    <th>Natural Gas</th>
                    <th>Nuclear</th>
                    <th>Petroleum</th>
                    <th>Renewable</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                DATA
            </tbody>
        </table>
    </div>
    
    <script type="application/javascript"> //build the chart from the table
        anychart.onDocumentLoad(function() {
            var data = [
            {x: 'Coal', value: window.coal_count || 1},
            {x: 'Natural Gas', value: window.natural_gas_count || 1},
            {x: 'Nuclear', value: window.nuclear_count || 1},
            {x: 'Petroleum', value: window.petroleum_count || 1},
            {x: 'Renewable', value: window.renewable_count || 1}
            ];
            //create chart and set data
            var chart = anychart.pie();
            //chart title
            chart.title(window.year + ' US Energy Consumption by Type');

            var interactivity = chart.interactivity();
            interactivity.hoverMode("bySpot");
            interactivity.spotRadius(20);

            chart.data(data);
            chart.legend(true);
            chart.legend().position('right');
            chart.legend().itemsLayout('vertical');
            chart.container("container").draw();
            chart.tooltip().displayMode("single");
            chart.animation("true");
        });
    </script>
</body>
</html>
